@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

/* Added Fonts */
@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo:MORF@0..60&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* CSS Compound Selectors to Randomize */

.container > .word:nth-child(3n) > span:nth-child(5n + 2) {
  background-color: #00fa9a;
  font-weight: 700;
  font-size: 72px;
  text-decoration: wavy line-through orange;
}

.container > .word:nth-child(4n) > span:nth-child(3n + 4) {
  background-color: #fa8072;
  color: hsl(180, 100%, 50%);
  text-transform: uppercase;
  font-size: 50px;
}

.container > .word:nth-child(3n + 4) > span:nth-child(5n + 1) {
  background-color: #00fa9a;
  text-transform: lowercase;
  font-size: 40px;
  text-decoration: double underline rgb(255, 20, 147);
}

/* CSS Border Color Styles */

span.whyWLetter,
span.developerDLetter,
span.takeALetter,
span.theirTLetter,
span.skillsSLetter {
  border: 4px solid rgb(255, 0, 0);
}
span.developerRLetter,
span.question-mark,
span.becauseCLetter,
span.skillsKLetter,
span.exclamation-mark {
  border: 6px dotted #32cd32;
}
span.theELetter,
span.developerPLetter,
span.frontendNLetter,
span.theyYLetter,
span.improveRLetter {
  border: 10px dashed hsl(340, 100%, 50%);
}
span.developerOLetter,
span.takeKLetter,
span.gardeningGTwoLetter,
span.becauseALetter,
span.improveMLetter {
  border: 5px double #ffd700;
}
span.frontendDLetter,
span.developerEThreeLetter,
span.upPLetter,
span.gardeningRLetter,
span.wantedWLetter {
  border: 4px groove rgb(255, 69, 0);
}
span.didILetter,
span.developerVLetter,
span.gardeningILetter,
span.becauseETwoLetter,
span.rootOTwoLetter {
  border: 4px solid hsl(120, 100%, 50%);
}
span.developerLLetter,
span.takeELetter,
span.theyHLetter,
span.theirILetter,
span.skillsSTwoLetter {
  border: 8px inset #8a2be2;
}
span.theHLetter,
span.developerELetter,
span.becauseBLetter,
span.wantedELetter,
span.theirELetter {
  border: 10px outset #00ffff;
}
span.didDTwoLetter,
span.takeTLetter,
span.theyTLetter,
span.improveVLetter,
span.skillsLLetter {
  border: 4px solid #ff1493;
}
span.whyYLetter,
span.frontendOLetter,
span.upULetter,
span.improveELetter,
span.rootOLetter {
  border: 6px dotted #adff2f;
}
span.theTLetter,
span.frontendRLetter,
span.gardeningNTwoLetter,
span.toTLetter,
span.theyELetter {
  border: 3px dashed #ff6347;
}
span.frontendTLetter,
span.frontendNTwoLetter,
span.wantedTLetter,
span.improvePLetter,
span.skillsILetter {
  border: 5px double #7fff00;
}
span.toOLetter,
span.hyphen,
span.didDLetter,
span.gardeningGLetter,
span.rootTLetter {
  border: 4px groove hsl(45, 100%, 50%);
}
span.frontendELetter,
span.becauseELetter,
span.becauseULetter,
span.wantedALetter,
span.improveILetter {
  border: 4px ridge #ff00ff;
}
span.whyHLetter,
span.gardeningELetter,
span.becauseSLetter,
span.wantedDLetter,
span.theirRLetter {
  border: 5px double rgb(0, 255, 255);
}

/* CSS Background Color Styles */

span.didDTwoLetter,
span.improveILetter,
span.wantedDLetter,
span.skillsSTwoLetter {
  background-color: #ff4500;
}
span.theTLetter,
span.takeELetter,
span.gardeningNLetter,
span.becauseCLetter {
  background-color: gold;
}
span.whyYLetter,
span.developerVLetter,
span.upPLetter,
span.improveRLetter {
  background-color: hsl(280, 60%, 60%);
}
span.whyWLetter,
span.developerLLetter,
span.frontendRLetter,
span.theyYLetter {
  background-color: hsl(180, 100%, 50%);
}
span.developerELetter,
span.gardeningGLetter,
span.question-mark,
span.becauseULetter {
  background-color: #8a2be2;
}
span.developerDLetter,
span.gardeningELetter,
span.becauseETwoLetter,
span.theirILetter {
  background-color: tomato;
}
span.frontendOLetter,
span.wantedWLetter,
span.wantedNLetter,
span.theirTLetter {
  background-color: rgb(173, 255, 47);
}
span.didILetter,
span.gardeningGTwoLetter,
span.theyHLetter,
span.improveELetter {
  background-color: deeppink;
}
span.developerPLetter,
span.wantedELetter,
span.skillsKLetter,
span.exclamation-mark {
  background-color: rgb(59, 39, 188);
}
span.frontendFLetter,
span.developerRLetter,
span.improveOLetter,
span.skillsILetter {
  background-color: mistyrose;
}
span.theELetter,
span.improveMLetter,
span.theirELetter,
span.skillsLTwoLetter {
  background-color: rgb(245, 222, 179);
}
span.developerEThreeLetter,
span.gardeningRLetter,
span.toOLetter,
span.rootOLetter {
  background-color: rgb(124, 252, 0);
}
span.becauseBLetter,
span.becauseELetter,
span.theyTLetter,
span.improveVLetter {
  background-color: teal;
}
span.frontendTLetter,
span.developerETwoLetter,
span.gardeningNTwoLetter,
span.rootOTwoLetter {
  background-color: purple;
}
span.whyHLetter,
span.takeTLetter,
span.gardeningALetter,
span.skillsSLetter {
  background-color: hsl(54, 77%, 70%);
}

/* Font Family Styles */

.whyWLetter,
.theTLetter,
.frontendNLetter,
.developerDLetter,
.developerPLetter,
.takeELetter,
.gardeningDLetter,
.question-mark,
.becauseSLetter,
.wantedWLetter,
.toTLetter,
.improveOLetter,
.theirILetter,
.skillsSLetter {
  font-family: "Piazzolla", sans-serif;
}

.whyHLetter,
.theHLetter,
.frontendTLetter,
.developerELetter,
.developerEThreeLetter,
.upULetter,
.gardeningELetter,
.becauseBLetter,
.becauseETwoLetter,
.wantedALetter,
.toOLetter,
.improveVLetter,
.theirRLetter,
.skillsKLetter {
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.theELetter,
.developerVLetter,
.developerRLetter,
.upPLetter,
.gardeningNLetter,
.becauseELetter,
.theyTLetter,
.wantedNLetter,
.improveILetter,
.improveELetter,
.rootRLetter,
.skillsILetter {
  font-family: "Raleway Dots", sans-serif;
}

.didDLetter,
.frontendFLetter,
.frontendELetter,
.developerETwoLetter,
.takeTLetter,
.gardeningGLetter,
.gardeningILetter,
.becauseCLetter,
.theyHLetter,
.wantedTLetter,
.improveMLetter,
.theirTLetter,
.rootOLetter,
.skillsLLetter {
  font-family: "Hanalei Fill", sans-serif;
}

.didILetter,
.frontendRLetter,
.hyphen,
.frontendNTwoLetter,
.developerLLetter,
.takeALetter,
.gardeningALetter,
.gardeningNTwoLetter,
.becauseALetter,
.theyELetter,
.wantedELetter,
.improvePLetter,
.theirHLetter,
.rootOTwoLetter,
.skillsLTwoLetter {
  font-family: "Kablammo", sans-serif;
}

.didDTwoLetter,
.frontendOLetter,
.frontendDLetter,
.developerOLetter,
.takeKLetter,
.gardeningRLetter,
.gardeningGTwoLetter,
.becauseULetter,
.theyYLetter,
.wantedDLetter,
.improveRLetter,
.theirELetter,
.rootTLetter,
.skillsSTwoLetter {
  font-family: "Inspiration", sans-serif;
}

/* WHY word */

.whyWLetter {
  font-size: 40px;
  font-weight: bold;
  color: #8a2be2;
  text-decoration: dotted underline tomato;
  text-transform: uppercase;
}

.whyHLetter {
  font-size: 60px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: dashed overline hsl(300, 100%, 25%);
  text-transform: lowercase;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(124, 252, 0);
  text-decoration: none;
  text-transform: uppercase;
}

/* DID word */

.didDLetter {
  font-size: 60px;
  font-weight: 400;
  color: coral;
  background-color: white;
  text-decoration: wavy underline #ff00ff;
  text-transform: lowercase;
}

.didILetter {
  font-size: 80px;
  font-weight: bold;
  color: teal;
  text-decoration: none;
  text-transform: none;
}

.didDTwoLetter {
  font-size: 40px;
  font-weight: normal;
  color: teal;
  text-decoration: dotted line-through overline rgb(124, 252, 0);
  text-transform: uppercase;
}

/* THE word */

.theTLetter {
  font-size: 30px;
  font-weight: normal;
  color: hsl(180, 100%, 50%);
  text-decoration: overline;
  text-transform: uppercase;
}

.theHLetter {
  color: coral;
  text-transform: uppercase;
}

.theELetter {
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-decoration: wavy underline hsl(300, 100%, 25%);
  text-transform: lowercase;
}

/* FRONT-END word */

.frontendFLetter {
  font-weight: normal;
  color: tomato;
}

.frontendRLetter {
  font-size: 70px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: none;
  text-transform: uppercase;
}

.frontendOLetter {
  font-size: 30px;
  font-weight: bold;
  color: hsl(300, 100%, 25%);
  text-decoration: line-through underline tomato;
  text-transform: uppercase;
}

.frontendNLetter {
  font-weight: 700;
  text-decoration: dashed overline;
}

.frontendTLetter {
  font-size: 75px;
  font-weight: normal;
  color: rgb(124, 252, 0);
  text-decoration: none;
  text-transform: uppercase;
}

.frontendELetter {
  font-weight: bold;
  text-decoration: dotted overline #ff00ff;
}

.frontendNTwoLetter {
  background-color: black;
  font-size: 90px;
  font-weight: 600;
  color: coral;
  text-decoration: none;
  text-transform: none;
}

.frontendDLetter {
  background-color: white;
  font-size: 65px;
  font-weight: normal;
  color: black;
  text-decoration: wavy underline orange;
  text-transform: uppercase;
}

/* DEVELOPER word */

.developerDLetter {
  font-size: 25px;
  font-weight: 400;
  color: rgb(124, 252, 0);
  text-decoration: overline hsl(300, 100%, 25%);
  text-transform: lowercase;
}
.developerELetter {
  font-size: 55px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through overline;
  text-transform: uppercase;
}
.developerVLetter {
  font-size: 35px;
  font-weight: 700;
  color: hsl(180, 100%, 50%);
  text-decoration: dotted underline;
  text-transform: none;
}
.developerETwoLetter {
  font-size: 60px;
  font-weight: bold;
  color: tomato;
  text-decoration: none;
  text-transform: uppercase;
}
.developerLLetter {
  font-size: 40px;
  font-weight: 400;
  color: hsl(300, 100%, 25%);
  text-decoration: dashed overline rgb(124, 252, 0);
  text-transform: uppercase;
}
.developerOLetter {
  background-color: lightseagreen;
  font-size: 70px;
  font-weight: normal;
  color: hsl(300, 100%, 25%);
  text-decoration: wavy line-through white;
  text-transform: lowercase;
}
.developerPLetter {
  font-size: 30px;
  font-weight: 700;
  color: coral;
  text-decoration: dotted line-through #ff00ff;
  text-transform: lowercase;
}
.developerEThreeLetter {
  font-size: 35px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: none;
  text-transform: uppercase;
}
.developerRLetter {
  font-size: 65px;
  font-weight: 600;
  color: tomato;
  text-decoration: none;
  text-transform: none;
}

/* TAKE word */

.takeTLetter {
  font-size: 50px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: underline hsl(300, 100%, 25%);
  text-transform: uppercase;
}
.takeALetter {
  color: rgb(123, 104, 238);
  text-transform: lowercase;
}
.takeKLetter {
  background-color: white;
  font-size: 50px;
  font-weight: 500;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
}
.takeELetter {
  font-size: 75px;
  font-weight: bold;
  color: coral;
  text-decoration: wavy line-through tomato;
  text-transform: uppercase;
}

/* UP word */

.upULetter {
  font-weight: 400;
  color: #ff00ff;
}
.upPLetter {
  font-size: 70px;
  font-weight: normal;
  color: hsl(180, 100%, 50%);
  text-decoration: underline white;
  text-transform: lowercase;
}

/* GARDENING word */

.gardeningGLetter {
  font-size: 45px;
  font-weight: 400;
  color: tomato;
  text-decoration: none;
  text-transform: none;
}
.gardeningALetter {
  font-size: 30px;
  font-weight: 600;
  color: hsl(180, 100%, 50%);
  text-decoration: dashed underline;
  text-transform: uppercase;
}
.gardeningRLetter {
  font-size: 35px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: line-through underline black;
  text-transform: uppercase;
}
.gardeningDLetter {
  font-weight: bold;
  text-decoration: none;
}
.gardeningELetter {
  font-size: 65px;
  font-weight: 700;
  color: hsl(300, 100%, 25%);
  text-decoration: dotted overline;
  text-transform: lowercase;
}
.gardeningNLetter {
  font-size: 50px;
  font-weight: 700;
  color: #ff00ff;
  text-decoration: none;
  text-transform: none;
}
.gardeningILetter {
  font-weight: normal;
  text-decoration: wavy line-through;
}
.gardeningNTwoLetter {
  font-size: 50px;
  font-weight: 400;
  color: hsl(180, 100%, 50%);
  text-decoration: wavy underline #ff00ff;
  text-transform: uppercase;
}
.gardeningGTwoLetter {
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-decoration: line-through hsl(300, 100%, 25%);
  text-transform: lowercase;
}

/* BECAUSE word */

.becauseBLetter {
  font-weight: normal;
  color: coral;
}
.becauseELetter {
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-decoration: underline rgb(124, 252, 0);
  text-transform: uppercase;
}
.becauseCLetter {
  font-size: 25px;
  font-weight: normal;
  color: coral;
  text-decoration: wavy overline #ff00ff;
  text-transform: none;
}
.becauseALetter {
  background-color: black;
  font-size: 45px;
  font-weight: bold;
  color: #ff00ff;
  text-decoration: none;
  text-transform: lowercase;
}
.becauseULetter {
  font-size: 65px;
  font-weight: bold;
  color: hsl(300, 100%, 25%);
  text-decoration: dotted line-through hsl(300, 100%, 25%);
  text-transform: uppercase;
}
.becauseSLetter {
  font-weight: 500;
  color: coral;
}
.becauseETwoLetter {
  font-size: 35px;
  font-weight: normal;
  color: rgb(124, 252, 0);
  text-decoration: underline overline tomato;
  text-transform: uppercase;
}

/* THEY word */

.theyTLetter {
  font-size: 45px;
  font-weight: 700;
  color: #ff00ff;
  text-decoration: none;
  text-transform: none;
}
.theyHLetter {
  font-size: 65px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
}
.theyELetter {
  background-color: white;
  font-size: 90px;
  font-weight: 600;
  color: coral;
  text-decoration: line-through black;
  text-transform: uppercase;
}
.theyYLetter {
  font-size: 50px;
  font-weight: bold;
  color: hsl(300, 100%, 25%);
  text-decoration: dashed underline #ff00ff;
  text-transform: uppercase;
}

/* WANTED word */

.wantedWLetter {
  font-size: 60px;
  font-weight: 400;
  color: teal;
  text-decoration: none;
  text-transform: uppercase;
}
.wantedALetter {
  color: teal;
  text-transform: none;
}
.wantedNLetter {
  font-size: 75px;
  font-weight: 400;
  color: #ff00ff;
  text-decoration: dotted line-through underline teal;
  text-transform: uppercase;
}
.wantedTLetter {
  font-weight: normal;
  text-decoration: wavy underline line-through;
}
.wantedELetter {
  font-size: 30px;
  font-weight: 400;
  color: tomato;
  text-decoration: none;
  text-transform: uppercase;
}
.wantedDLetter {
  font-size: 80px;
  font-weight: 500;
  color: coral;
  text-decoration: line-through tomato;
  text-transform: lowercase;
}

/* TO word */

.toTLetter {
  font-weight: bold;
  color: #ff00ff;
}
.toOLetter {
  font-size: 60px;
  font-weight: normal;
  color: teal;
  text-decoration: wavy underline #ff00ff;
  text-transform: uppercase;
}

/* IMPROVE word */

.improveILetter {
  font-size: 60px;
  font-weight: bold;
  color: hsl(180, 100%, 50%);
  text-decoration: none;
  text-transform: none;
}
.improveMLetter {
  font-size: 20px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: underline;
  text-transform: uppercase;
}
.improvePLetter {
  background-color: hsl(180, 100%, 50%);
  font-size: 70px;
  font-weight: normal;
  color: coral;
  text-decoration: wavy line-through hsl(300, 100%, 25%);
  text-transform: uppercase;
}
.improveRLetter {
  font-size: 35px;
  font-weight: 500;
  color: coral;
  text-decoration: dotted overline;
  text-transform: lowercase;
}
.improveOLetter {
  font-size: 35px;
  font-weight: 400;
  color: tomato;
  text-decoration: none;
  text-transform: lowercase;
}
.improveVLetter {
  font-size: 70px;
  font-weight: bold;
  color: #ff00ff;
  text-decoration: line-through underline;
  text-transform: lowercase;
}
.improveELetter {
  font-size: 55px;
  font-weight: bold;
  color: hsl(180, 100%, 50%);
  text-decoration: line-through rgb(124, 252, 0);
  text-transform: uppercase;
}

/* THEIR word */

.theirTLetter {
  font-size: 4ch;
  font-weight: normal;
  color: coral;
  text-decoration: dashed underline overline;
  text-transform: none;
}
.theirHLetter {
  color: white;
  text-transform: uppercase;
}
.theirELetter {
  font-size: 40px;
  font-weight: bold;
  color: hsl(300, 100%, 25%);
  text-decoration: wavy underline #ff00ff;
  text-transform: uppercase;
}
.theirILetter {
  font-size: 50px;
  font-weight: normal;
  color: rgb(124, 252, 0);
  text-decoration: line-through;
  text-transform: uppercase;
}
.theirRLetter {
  background-color: #8a2be2;
  font-size: 30px;
  font-weight: normal;
  color: coral;
  text-decoration: dotted overline;
  text-transform: lowercase;
}

/* ROOT word */

.rootRLetter {
  font-weight: 600;
  color: coral;
}
.rootOLetter {
  font-size: 90px;
  font-weight: 700;
  color: #ff00ff;
  text-decoration: 4px line-through hsl(300, 100%, 25%);
  text-transform: lowercase;
}
.rootOTwoLetter {
  font-size: 40px;
  font-weight: normal;
  color: rgb(124, 252, 0);
  text-decoration: overline;
  text-transform: lowercase;
}
.rootTLetter {
  font-weight: normal;
  text-decoration: none;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 70px;
  font-weight: 700;
  color: tomato;
  text-decoration: 4px wavy line-through underline #ff00ff;
  text-transform: uppercase;
}
.skillsKLetter {
  font-size: 70px;
  font-weight: 700;
  color: #ff00ff;
  text-decoration: 6px line-through tomato;
  text-transform: none;
}
.skillsILetter {
  font-size: 55px;
  font-weight: bold;
  color: hsl(180, 100%, 50%);
  text-decoration: line-through rgb(124, 252, 0);
  text-transform: uppercase;
}
.skillsLLetter {
  background-color: hsl(180, 100%, 50%);
  font-size: 55px;
  font-weight: normal;
  color: corrgb(124, 252, 0) al;
  text-decoration: none;
  text-transform: lowercase;
}
.skillsLTwoLetter {
  font-size: 20px;
  font-weight: normal;
  color: #ff00ff;
  text-decoration: wavy line-through;
  text-transform: none;
}
.skillsSTwoLetter {
  font-size: 35px;
  font-weight: 400;
  color: rgb(124, 252, 0);
  text-decoration: dashed line-through;
  text-transform: uppercase;
}

/* SYMBOLS */

.hyphen {
  font-size: 205px;
  text-transform: none;
}
.exclamation-mark {
  font-size: 25px;
  font-weight: 400;
  color: orange;
  text-decoration: none;
  text-transform: none;
}
.question-mark {
  font-size: 40px;
  font-weight: normal;
  color: white;
  text-decoration: wavy line-through tomato;
  text-transform: none;
}
